<ng-container *ngIf="isModelOpen">
    <app-create-edit-form
        [isEditMode]="isEditMode"
        [selectedTransaction]="selectedTransaction"
        (closeModal)="onClose()"
        (edit)="onUpdate($event)"
        (create)="onCreate($event)"
    ></app-create-edit-form>
</ng-container>

<div *ngIf="!isModelOpen" class="create__button">
    <ion-button (click)="openModal()">Create</ion-button>
</div>

<ng-container *ngFor="let transaction of transactions$ | async">
    <app-transaction-item [transaction]="transaction" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-transaction-item>
</ng-container>

<app-loader *ngIf="isLoading$ | async"></app-loader>
