<app-setting-item
    [title]="'Data Format'"
    [selectDefault]="(selectedDateFormat$ | async)!"
    [selectOption]="dateFormatConstant"
    [actionType]="SETTING_ITEM_ENUM.SELECT"
    (submitData)="onDateFormat($event)"
></app-setting-item>

<app-setting-item
    [title]="'Currency'"
    [selectDefault]="(selectedCurrency$ | async)!"
    [selectOption]="currencyConstant"
    [actionType]="SETTING_ITEM_ENUM.SELECT"
    (submitData)="onCurrency($event)"
></app-setting-item>

<app-loader *ngIf="isLoading$ | async"></app-loader>
