<app-setting-item
    [title]="'Data Format'"
    [selectDefault]="(selectedDateFormat$ | async)!"
    [selectOption]="dateFormatConstant"
    [actionType]="SETTING_ITEM_ENUM.SELECT"
    (submit)="onDateFormat($event)"
></app-setting-item>

<app-setting-item
    [title]="'Data Format'"
    [selectDefault]="dateFormatConstant[0]"
    [selectOption]="dateFormatConstant"
    [actionType]="SETTING_ITEM_ENUM.SELECT"
    (submit)="onDateFormat($event)"
></app-setting-item>

<app-loader *ngIf="isLoading$ | async"></app-loader>
