<ion-header>
    <div class="header__menu">
        <div class="header__title">Finance Manager</div>
        <div class="header__action">
            <div [routerLink]="ROUTES_ENUM.SETTINGS">
                <ion-icon class="menu__item--icon" name="settings-outline"></ion-icon>
            </div>
        </div>
    </div>
</ion-header>

<ion-content class="content">
    <ng-content></ng-content>
</ion-content>

<ion-footer>
    <div class="menu">
        <div routerLinkActive="active" [routerLink]="ROUTES_ENUM.DASHBOARD" class="menu__item">
            <ion-icon class="menu__item--icon icon__turn" name="swap-vertical-outline"></ion-icon>
        </div>
        <div routerLinkActive="active" [routerLink]="ROUTES_ENUM.CALENDAR" class="menu__item">
            <ion-icon class="menu__item--icon" name="calendar-outline"></ion-icon>
        </div>
        <div routerLinkActive="active" [routerLink]="ROUTES_ENUM.STATISTIC" class="menu__item">
            <ion-icon class="menu__item--icon" name="stats-chart-outline"></ion-icon>
        </div>
    </div>
</ion-footer>
