/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-end {
    justify-content: flex-end !important;
}

.flex-start {
    justify-content: flex-start !important;
}

.space-between {
    justify-content: space-between !important;
    align-items: center !important;
}

.flex-grow {
    &-1 {
        flex-grow: 1 !important;
    }

    &-1 {
        flex-grow: 0 !important;
    }
}

.flex-shrink {
    &-1 {
        flex-shrink: 1 !important;
    }

    &-1 {
        flex-shrink: 0 !important;
    }
}

.--w {
    &-30 {
        width: 30%;
        max-width: 30%;
    }

    &-40 {
        width: 40%;
        max-width: 40%;
    }

    &-45 {
        width: 45%;
        max-width: 45%;
    }

    &-50 {
        width: 50%;
        max-width: 50%;
    }

    &-60 {
        width: 60%;
        max-width: 60%;
    }

    &-70 {
        width: 70%;
        max-width: 70%;
    }

    &-100 {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
    /** success **/
    --ion-color-success: #006039;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #006039;
    --ion-color-success-tint: #006039;
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-color1: #006039;
    --ion-color-color2: #9e9c9c;
    --ion-color-color3: black;
    --ion-color-white: #ffffff;
    .ion-color-color1 {
        --ion-color-base: #006039;
        --ion-color-base-rgb: #006039;
        --ion-color-contrast: #ffffff;
        --ion-color-contrast-rgb: 255, 255, 255;
        --ion-color-shade: #006039;
        --ion-color-tint: #006039;
    }
    .ion-color-color2 {
        --ion-color-base: #9e9c9c;
        --ion-color-base-rgb: rgb(158, 156, 156);
        --ion-color-contrast: #ffffff;
        --ion-color-contrast-rgb: 255, 255, 255;
        --ion-color-shade: #8b8a8a;
        --ion-color-tint: #c7c6c6;
    }
    .ion-color-color3 {
        --ion-color-base: black;
        --ion-color-base-rgb: rgb(158, 156, 156);
        --ion-color-contrast: #ffffff;
        --ion-color-contrast-rgb: 255, 255, 255;
        --ion-color-shade: black;
        --ion-color-tint: black;
    }
    .ion-color-white {
        --ion-color-base: #ffffff;
        --ion-color-base-rgb: rgb(255, 255, 255);
        --ion-color-contrast: #ffffff;
        --ion-color-contrast-rgb: 255, 255, 255;
        --ion-color-shade: #ffffff;
        --ion-color-tint: #ffffff;
    }
    --ion-color-contrast: #ffffff;
    --ion-color-base: #4854e0;
}
