.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
        margin-left: 20px;

        .menu {
            display: flex;
            margin: 0 20px;

            &__item {
                margin: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                &--icon {
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                }

                .icon__turn {
                    rotate: 90deg;
                }
            }
        }
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
    }

    &__action {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        &--icon {
            height: 20px;
            width: 20px;
            margin-right: 5px;
        }
    }

    .active {
        color: gray;
    }
}
